body{
    font-family: Arial, Verdana;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    padding: 15px;
    font-size: 42px;
    text-align: center;
}

h2{
    font-size: 32px;
    color: #0D0D0D;
}
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed white;
}
div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid white;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red{
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    border-top: none;
    border-right: none;
}
.blue h2, .blue p{
    color: #C4C4C4
}
.blue{
    background-color: blue;
    text-align:left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
    border-left: none;
    border-bottom: none;
}
.yellow p{
    color: #707070
}
.yellow{
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;
    border-top: none;
    border-right: none;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white; 
    border-left: none;
    border-bottom: none;
}
footer {
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid white;
  }
footer p{
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0;

}
  
